* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/* #region local fonts */
/* https://transfonter.org/ */

@font-face {
    font-family: 'Career';
    src: url('fonts/Career-webfont.woff2') format('woff2'),
        url('fonts/Career-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Lunchtype 22';
    src: url('fonts/lunchtype22-light-webfont.woff2') format('woff2'),
        url('fonts/lunchtype22-light-webfont.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Lunchtype 22';
    src: url('fonts/lunchtype22-medium-webfont.woff2') format('woff2'),
        url('fonts/lunchtype22-medium-webfont.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Lunchtype 22';
    src: url('fonts/lunchtype22-regular-webfont.woff2') format('woff2'),
        url('fonts/lunchtype22-regular-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'PP Fragment Text';
    src: url('fonts/fragment/PPFragment-TextRegular.woff2') format('woff2'),
        url('fonts/fragment/PPFragment-TextRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PP Fragment Text';
    src: url('fonts/fragment/PPFragment-TextRegularItalic.woff2') format('woff2'),
        url('fonts/fragment/PPFragment-TextRegularItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'PP Fragment Sans';
    src: url('fonts/fragment/PPFragment-SansRegular.woff2') format('woff2'),
        url('fonts/fragment/PPFragment-SansRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PP Fragment Sans';
    src: url('fonts/fragment/PPFragment-SansRegularitalic.woff2') format('woff2'),
        url('fonts/fragment/PPFragment-SansRegularitalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'PP Fragment Glare';
    src: url('fonts/fragment/PPFragment-GlareExtraBoldItalic.woff2') format('woff2'),
        url('fonts/fragment/PPFragment-GlareExtraBoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'PP Fragment Glare';
    src: url('fonts/fragment/PPFragment-GlareLightItalic.woff2') format('woff2'),
        url('fonts/fragment/PPFragment-GlareLightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'PP Fragment Glare';
    src: url('fonts/fragment/PPFragment-GlareLight.woff2') format('woff2'),
        url('fonts/fragment/PPFragment-GlareLight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PP Fragment Glare';
    src: url('fonts/fragment/PPFragment-GlareExtraBold.woff2') format('woff2'),
        url('fonts/fragment/PPFragment-GlareExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Salisbury';
    src: url('fonts/Salisbury-Bold.woff2') format('woff2'),
        url('fonts/Salisbury-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Matisse Pixelated';
    src: url('fonts/MatissePixelated.woff2') format('woff2'),
        url('fonts/MatissePixelated.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'Galano Grotesque';
    src: url('fonts/GalanoGrotesque-Bold.woff2') format('woff2'),
        url('fonts/GalanoGrotesque-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Galano Grotesque Alt';
    src: url('fonts/GalanoGrotesqueAlt-Bold.woff2') format('woff2'),
        url('fonts/GalanoGrotesqueAlt-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PP Pangaia';
    src: url('fonts/PPPangaia-BoldItalic.woff2') format('woff2'),
        url('fonts/PPPangaia-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'PP Pangaia';
    src: url('fonts/PPPangaia-Bold.woff2') format('woff2'),
        url('fonts/PPPangaia-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

/* #endregion */

/* #region home style */
html {
	font-size: 100%;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	height: 100%;
	overflow-x: hidden;
}

.snap {
	scroll-snap-align: start;
	scroll-snap-stop: always;
	width:1px;
	height:0.01px;
}

.scroll-styled-h, .scroll-styled-v, html {
	scrollbar-width: thin;
}

body {
	margin: 0;
	height: 100svh;
	overflow-y: scroll;
	overflow-x: hidden;
	scroll-behavior: auto;
	scroll-snap-type: y mandatory;
	overscroll-behavior: auto;
	font-weight: normal;
	min-height: 100%;
	margin: 0;
	font-family: 'PP Fragment Sans', Helvetica, Arial, sans-serif;
	font-size: 1.16rem;
	text-align: center;
}

.section {
	min-height: 100svh;
	scroll-snap-align: start end;
	scroll-snap-stop: always;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	overscroll-behavior: auto;
	overflow: clip;
	position: relative;
	padding:4vh;
}

i {
	font-family:'PP Fragment Text', Helvetica, Arial, sans-serif;
	font-style:italic
}

.framed i {
	font-family:'Atkinson Hyperlegible', Helvetica, Arial, sans-serif;
	font-style:italic;
}

p {
	max-width:600px;
}

h1 {
	font-family: 'DM Sans', Helvetica, Arial, sans-serif;
	font-weight: 600;
	font-style: normal;
	font-size: 2.32rem;
	letter-spacing: -0.025em;
	margin: 12pt;
}

.site a {
	color:#201010;
	text-decoration: none;
	transition: 0.1s ease;
}

.site a:visited {
	color:#201010;
}

.site a:hover, .site a:visited:hover {
	filter: brightness(0) saturate(100%) invert(51%) sepia(79%) saturate(739%) hue-rotate(314deg) brightness(99%) contrast(97%);
}

.main-text {
	font-family: 'PP Fragment Sans', Helvetica, Arial, sans-serif;
	font-size: 1.16rem;
	color: #201010
}

@media (max-width:2122px) {
	.homebg {
		min-width:2121px;
		max-width:150%;
		max-height:unset;
	}
}

.bottom-tab {
	top: -46pt;
	left: 33pt;
	position:absolute;
	margin:0;
	padding: 33pt;
	padding-top: 14pt;
	padding-bottom: 16pt;
	border-top-left-radius: 10pt;
	border-top-right-radius: 10pt;
	background: linear-gradient(180deg, #f6f6f3, #ffffff);
	max-width: 80%;
}

.card {
	padding: 14pt;
	padding-left: 28pt;
	padding-right:28pt;
	border-radius: 10pt;
	background: #f6f6f3;
	filter: drop-shadow(0 0 2px rgba(32,16,16,0.5));
}

.card button {
	padding-top: 10pt;
	padding-bottom: 10pt;
	padding-left: 20pt;
	padding-right:20pt;
	border-radius: 10pt;
	background: #f6f6f3;
	font-family: 'DM Sans', Helvetica, Arial, sans-serif;
	font-size: 1rem;
	font-weight: 800;
	color: #201010;
	border: unset;
	transition: all 0.1s ease;
	filter: drop-shadow(0 0 2px rgba(32,16,16,0.5));
	cursor: pointer;
}

.card button:hover {
	filter: drop-shadow(0 0 4px rgba(32,16,16,0.75));
}

.navbuttons {
	position: absolute;
	top: 2rem;
	left: 2rem;
	display: flex;
	flex-direction: column;
	gap: 1rem;
	z-index:10000;
}

.button {
	padding-top: 10pt;
	padding-bottom: 10pt;
	padding-left: 20pt;
	padding-right: 20pt;
	border-radius: 10pt;
	background: #f6f6f3;
	font-family: 'DM Sans', Helvetica, Arial, sans-serif;
	font-size: 1rem;
	font-weight: 800;
	color: #201010;
	border: unset;
	transition: all 0.1s ease;
	filter: drop-shadow(0 0 2px rgba(32,16,16,0.5));
	cursor: pointer;
	text-decoration: none;
}

.button.naps {
	background:white;
	filter: url(#binary) contrast(1000);
	border: solid 1px black;
	transition: unset;
	z-index: 10000
}

.button.naps:hover {
	filter: url(#binary) contrast(1000);
	border: solid 2px black;
	margin: -1px;
}

.button.carle {
	background: transparent;
	color:white;
	filter: drop-shadow(2px 2px 4px black);
	backdrop-filter: brightness(50%) blur(10px);
}

.button.framed {
	background: #333;
	filter: drop-shadow(0px 0px 5px rgba(0,0,0,0.75));
}

.button:hover {
	filter: drop-shadow(0 0 4px rgba(32,16,16,0.75));
}

.button.carle:hover {
	filter: drop-shadow(2px 2px 4px rgba(0,0,0,0.5));
	backdrop-filter: brightness(25%) blur(10px);
}

.button.framed:hover {
	filter: drop-shadow(0px 0px 10px rgba(0,0,0,0.5));
}

.roundicon {
	padding: 0.5em;
	font-size:unset;
	line-height:0;
	border-radius: 1000pt;
}

.roundicon img {
	height: 1.33rem;
	width: 1.33rem;
	max-width: unset;
	max-height: unset;
}

.button.framed.roundicon img {
	filter:invert(95%) sepia(3%) saturate(344%) hue-rotate(44deg) brightness(92%) contrast(97%);
}

.button.framed.roundicon:hover img {
	filter:
	invert(95%) sepia(3%) saturate(344%) hue-rotate(44deg) brightness(92%) contrast(97%)
	brightness(1.2)
	drop-shadow(0 0 2px #dcdfd8);
}

.wide-content {
	max-width:90vw;
	width:1440px;
	margin:0 auto;
}

.container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	max-width: 90vw;
	width: 1440px;
	margin: 0 auto;
}

.container-item:first-child {
	align-items: end;
}
.container-item:last-child {
	align-items: start;
}
  
.container-item {
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	min-width: 100%;
	text-align: center;
}

@media (max-height: 1000px) {
	.wide-content {
		max-width: 1250px;
	}
}

@media (max-width: 1200px) {
	.wide-content {
		max-width:90vw;
		width:100%;
		margin:0 auto;
	}

	.container {
		grid-template-columns: 1fr;
		width:100%;
		max-width:unset;
	}

	.container-item:first-child {
		align-items: center;
	}
	.container-item:last-child {
		align-items: center;
	}

	.container-item.footer {
		position:absolute;
		bottom:0;
		padding:24px;
	}

	.container-item.header {
		position:absolute;
		top:0;
		padding:24px;
	}
}

.top-spacer, .bottom-spacer {
	width: 100%;
	display: block;
}

img {
	position: relative;
	height: auto;
	width: auto;
	max-height: 90vh;
}

img::selection {
	color: rgba(0, 0, 0, 0);
	background: rgba(0, 0, 0, 0)
}

::selection {
	color: white;
	background: black;
}

.carle-logo {
	width:800px;
	max-width:80vw;
	filter: drop-shadow(2px 2px 4px black);
	transition: all 0.1s ease;
}

.carle-logo.hover {
	max-height:20vh;
	scale:	100%;
	filter: contrast(1)
			brightness(1)
			drop-shadow(2px 2px 4px rgba(0,0,0,0.5));
}
.carle-logo.hover:hover {
	scale: 	101%;
	filter: contrast(0)
			brightness(2) 
			drop-shadow(0px 0px 4px rgba(255, 255, 255, 0.75)) 
			drop-shadow(2px 2px 8px rgba(0,0,0,0.5));
}

.carle {
	font-family: "Montserrat", sans-serif;
	font-optical-sizing: auto;
	font-weight: 600;
	font-style: normal;
	font-size: 1.2rem;
	text-align: justify;
	text-align-last: center;
}

.carle::selection {
	color: white;
	background: #FC9800;
}

.carle.title {
	font-size: 6.4rem;
	margin: 14pt;
	font-weight: 800;
	font-style: normal;
	letter-spacing: -0.05em;
	text-align: center;
}

.carle.title::selection {
	color:#FC9800;
	background:white;
}

.carle.subtitle {
	font-size: 0.9rem;
	font-weight: 600;
	letter-spacing: 0.1em;
}

.carle.subtitle.orange {
	padding: 5pt;
	padding-left: 10pt;
	padding-right: 10pt;
	border-radius: 14pt;
	background: white;
	color: #FC9800;
	box-shadow: 2px 2px 4px black;
}

.carle.white-text {
	color: white;
	text-shadow: 1px 1px 2px black;
}

.carle.title.white-text {
	color: white;
	text-shadow: 1px 1px 5px black;
}

.blur-box {
	border-radius: 14pt;
	padding: 14pt;
	padding-left: 18pt;
	padding-right: 18pt;
	filter: drop-shadow(2px 2px 4px black);
	backdrop-filter: brightness(50%) blur(10px);
    -webkit-backdrop-filter: brightness(50%) blur(10px);
}

.blur-box.bottom {
	position: relative;
	top: -7pt;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	border: none;
	backdrop-filter: brightness(80%) blur(10px);
    -webkit-backdrop-filter: brightness(80%) blur(10px);
}

.svg-background {
	background-origin: border-box;
	background-repeat: no-repeat;
	background-position: center;
	filter: drop-shadow(2px 2px 4px black);
}

.post-gallery {
    position: absolute;
    width: 100vw;
    height: 100svh;
}

.parabola {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 200%;
}

.post-item {
	margin: 0%;
	line-height: 0%;
	display: flex;
	filter: drop-shadow(2px 2px 4px black);
	transition: all 0.1s, left 0s, top 0s;
	transform-origin: center;
	scale: 95%;
}

.post-item.naps {
	max-width: none;
	max-height: none;
	min-width: unset;
	scale: 100%;
	filter: none;
	border: solid 1px black;
	transition: all 0s;
}

.post-item img {
	max-width:20vw;
	max-height:66vh;
}

.post-item.naps img {
	max-width: none;
	max-height: none;
	width:unset;
	height:unset;
	image-rendering:pixelated;
}

.post-item:hover {
	scale: 100%;
	filter: drop-shadow(4px 4px 8px rgba(0,0,0,0.5));
}

.post-item.naps:hover {
	filter: none;
	border: solid 2px black;
	margin: -1px;
}

.naps-title {
	font-family: "DM Sans", sans-serif;
	font-variation-settings: "opsz" 40;
	font-style: italic;
	font-weight: 1000;
	font-size: 96px;
	letter-spacing: -0.04em;
	margin: 12px;
	filter: url(#binary);
}

.binary {
	font-size:18px;
	letter-spacing: 0;
	position:relative;
	font-family: 'Matisse Pixelated';
	font-synthesis: none;
	filter: url(#binary);
	text-align: left;
	margin: 0;
}

a.naps-title {
	color:black;
	text-decoration: none;
}

a.naps-title:hover {
	color:black;
	text-decoration: underline;
}

.naps-polygon {
	display: flex;
	background: blue;
	justify-content: center;
	align-items: center;
	shape-rendering: crispEdges;
	height:100%;
	width:100%;
}

.framed {
	font-family: "Atkinson Hyperlegible", Helvetica, sans-serif;
	color: #dcdfd8;
	font-size: 1.16rem;
	max-width: 100%;
	margin: 18pt;
	margin-top: 0;
	text-align: left;
}

.framed a {
	color:#56B6FB;
	text-decoration: none;
	transition: 0.1s ease;
}

.framed a:visited {
	color:#56B6FB;
}

.framed a:hover, .framed a:visited:hover {
	color: #CDEAFE;
}

.framed.title {
	font-family: "Galano Grotesque Alt", Helvetica, sans-serif;
	font-weight: bold;
    font-style: normal;
	font-size: 6.4rem;
	max-width: 1080px;
	line-height: 1;
	margin: 10pt;
}

.framed.subtitle {
	font-family: "Galano Grotesque Alt", Helvetica, sans-serif;
	font-weight: bold;
    font-style: normal;
	font-size: 1.666rem;
	letter-spacing: 0.2em;
	color:#333333;
	background-color:#dcdfd8;
	padding: 5pt;
	padding-left: 10pt;
	padding-right: 10pt;
	max-width: 1080px;
	line-height: 1;
	margin: 10pt;
	margin-top: 0pt;
	margin-bottom:20pt;
}

.framed.viewer {
	font-family: "Galano Grotesque Alt", Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-style: normal;
	font-size: 1rem;
	margin: 0;
	letter-spacing: 0.1em;
}

.fcard {
	background-color: #333333;
	border-radius: 14pt;
	padding: 14pt;
	padding-left: 18pt;
	padding-right: 18pt;
	box-shadow: 0px 3px 5px rgba(0,0,0,0.5);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.glow-hover {
	transition: all 0.1s ease;
}
.glow-hover:hover {
	scale: 101%;
	filter:
		brightness(1.2)
		drop-shadow(0 0 2px #dcdfd8);
}

hr {
	width:300px;
	border-color: #cbc8c5;
	display: block;
	height: 1px;
	padding: 0;
}

.framed hr {
	width:100%;
	border-color: #8a8a8a;
	display: block;
	height: 1px;
	padding: 0;
	margin:18pt;
}

.opener {
	position:fixed;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: white;
	z-index: 10000;
	opacity: 1;
	transition: opacity 0.05s ease-out;
}

/* image gallery */
.image-gallery {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	height: 100svh; 
	overflow-y: scroll; 
	box-sizing: border-box;
	scroll-snap-type: y mandatory; 
	scrollbar-width: none;
	overscroll-behavior: auto;
}

.image-gallery::-webkit-scrollbar {
	width: 0;
	height: 0;
}

.gallery-item {
	scroll-snap-align: center;
	margin: 0%;
	line-height: 0%;
	padding: 2px;
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.gallery-text {
	display: flex;
	justify-content: space-between;
	line-height: 1;
}

.item-title.naps-title {
	font-family: "DM Sans", sans-serif;
	font-variation-settings: "opsz" 40;
	font-style: normal;
	font-weight: 1000;
	font-size: 42pt;
	margin: 0pt;
	margin-top: 4pt;
	letter-spacing: -0.04em;
}

.item-subtitle {
	margin-right: 0pt;
	margin-top: 4pt;
	max-width: 320px;
	text-align: right;
}

.gallery-header {
	margin-top: 15vh;
	display: flex;
	flex-direction: column;
	z-index: 10;
}

/* image viewer */
.image-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
	opacity: 0;
	transition: opacity 0.1s ease;
}

.viewer-image {
    max-width: 90%;
    max-height: 90%;
    transform-origin: center;
	transition: transform 0.1s ease;
	cursor: zoom-in;
}

.naps-img {
	width: auto;
	height: auto;
}

.viewer-image.naps-img {
	max-width: 90%;
	max-height: 90%;
}

.viewer-image.zoomed {
    transform: scale(2);
	cursor: zoom-out;
}

.viewer-image.zoomed-naps {
	cursor: zoom-out;
}

.clickable {
    cursor: pointer;
}

.image-overlay .close-message {
    position: absolute;
    top: 10px;
    width: 100%;
    text-align: center;
    color: white;
    pointer-events: none; /* So it doesn't interfere with clicks */
}

.image-overlay .viewer-message {
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
    color: white;
    pointer-events: none; /* So it doesn't interfere with clicks */
}

iframe {
	width: 100%;
	aspect-ratio: 16 / 9;
	height: auto;
}

.vertical {
	max-height:90vh;
	aspect-ratio: 2 / 3;
}

@media (max-width: 1440px) {
iframe {
	max-width: 90vw;
	height: calc((90vw/16) * 9);
}
}

/* vimeo css */

.vimeo-wrapper {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	pointer-events: none;
	overflow: hidden;
 }
 .vimeo-wrapper iframe {
	width: 100vw;
	height: 56.25vw; /* Given a 16:9 aspect ratio, 9/16*100 = 56.25 */
	min-height: 100vh;
	min-width: 177.77vh; /* Given a 16:9 aspect ratio, 16/9*100 = 177.77 */
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
 }
 .vimeo-wrapper img {
	max-height: none;
	width: 100vw;
	height: 56.25vw; /* Given a 16:9 aspect ratio, 9/16*100 = 56.25 */
	min-height: 100vh;
	min-width: 177.77vh; /* Given a 16:9 aspect ratio, 16/9*100 = 177.77 */
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
 }

 .outlined {
	filter: url(#binary)
			drop-shadow(2px 0px 0 #fff) 
			drop-shadow(-2px 0px 0 #fff) 
			drop-shadow(0px 2px 0 #fff) 
			drop-shadow(0px -2px 0 #fff)
			drop-shadow(2px 2px 0 #fff) 
			drop-shadow(2px -2px 0 #fff) 
			drop-shadow(-2px -2px 0 #fff) 
			drop-shadow(-2px 2px 0 #fff)
 }

 .pageend {
	position: absolute;
	bottom: 18px;
	width: 600px;
	max-width: 50%;
 }

 .endtext {
	display:flex;
	justify-content: space-between;
 }

 /* Scroll bar stylings */
::-webkit-scrollbar {
	width: 10px;
	height: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
	background: white;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
	background: #888; 
	border-radius: 5px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
	background: #555; 
  }

@media (min-resolution: 144dpi) {
	body {
		font-size: 1.5rem;
	}
	.carle {
		font-size: 1.75rem;
	}
    .framed {
		font-size: 1.5rem;
	}
	.framed.subtitle {
		font-size: 2rem;
	}
}