* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/* #region local fonts */
/* https://transfonter.org/ */

@font-face {
    font-family: 'CMU Concrete';
    src: url('fonts/CMUConcrete-Italic.woff2') format('woff2'),
        url('fonts/CMUConcrete-Italic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'CMU Concrete';
    src: url('fonts/CMUConcrete-Roman.woff2') format('woff2'),
        url('fonts/CMUConcrete-Roman.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Matisse Pixelated';
    src: url('fonts/MatissePixelated.woff2') format('woff2'),
        url('fonts/MatissePixelated.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

/* #endregion */

/* #region home style */
html {
	font-size: 100%;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	height: 100%;
	overflow-x: hidden;
}

body {
	margin: 0;
	height: 100vh;
	overflow-y: scroll;
	scroll-behavior: auto;
	scroll-snap-type: y mandatory;
	overscroll-behavior: auto;
	font-weight: normal;
	min-height: 100%;
	margin: 0;
	font-family: 'CMU Concrete', Helvetica, Arial, sans-serif;
	font-size: 18px;
	text-align: center;
}

.section {
	height: 100vh;
	scroll-snap-align: start end;
	scroll-snap-stop: always;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	overscroll-behavior: auto;
	overflow: clip;
}

.container {
	display: flex;
	justify-content: center;
	width: 33%;
	min-width: 1220px;
	margin: 0 auto;
	padding: 0 12px;
}

.column {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	max-width: 50%;
	flex: 1;
}

.column + .column {
	margin-left: 24px;
}

.top-spacer, .bottom-spacer {
	width: 100%;
	display: block;
}

p {
	line-height: 21px;
	max-width: 750px;
}

img {
	position: relative;
	height: auto;
	width: auto;
	max-height: 90vh;
}

::selection {
	color: white;
	background: black;
}

.binary {
	font-family: 'Matisse Pixelated';
	font-size: 17px;
	font-synthesis: none;
	filter: url(#binary) contrast(1000);
	text-align: left;
}

.carle-title {
	font-family: "Montserrat", sans-serif;
	font-optical-sizing: auto;
	font-weight: 800;
	font-style: italic;
	letter-spacing: -0.05em;
	font-size: 60pt;
	text-align: center;
	margin: 24pt;
  }

.naps-title {
	font-family: "DM Sans", sans-serif;
	font-variation-settings: "opsz" 40;
	font-style: italic;
	font-weight: 1000;
	font-size: 65pt;
	letter-spacing: -0.04em;
	margin: 20pt;
	filter: url(#binary) contrast(1000);
}

a.naps-title {
	color:black;
	text-decoration: none;
}

a.naps-title:hover {
	text-decoration: underline;
}

.outlined {
	text-shadow:
		3px 3px 0 #fff,
    	-3px 3px 0 #fff,
    	-3px -3px 0 #fff,
    	3px -3px 0 #fff;
}

.opener {
	position:fixed;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: white;
	z-index: 9999;
	opacity: 1;
	transition: opacity 0.05s ease-out;
}

/* #region image gallery */
.image-gallery {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	height: 100vh; 
	overflow-y: scroll; 
	box-sizing: border-box;
	scroll-snap-type: y mandatory; 
	scrollbar-width: none;
	overscroll-behavior: auto;
}

.image-gallery::-webkit-scrollbar {
	width: 0;
	height: 0;
}

.gallery-item {
	scroll-snap-align: center;
	margin: 0%;
	line-height: 0%;
	padding: 2px;
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.gallery-text {
	display: flex;
	justify-content: space-between;
	line-height: 1;
}

.item-title.naps-title {
	font-family: "DM Sans", sans-serif;
	font-variation-settings: "opsz" 40;
	font-style: normal;
	font-weight: 1000;
	font-size: 42pt;
	margin: 0pt;
	margin-top: 4pt;
	letter-spacing: -0.04em;
	filter: url(#binary);
}

.item-subtitle {
	margin-right: 0pt;
	margin-top: 4pt;
	max-width: 20%;
	text-align: right;
}

.gallery-header {
	margin-bottom: 33vh;
	display: flex;
	flex-direction: column;
	z-index: 10;
}

/* #region image viewer */
.image-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
	opacity: 0;
	transition: opacity 0.1s ease;
}

.viewer-image {
    max-width: 90%;
    max-height: 90%;
    transform-origin: center;
	transition: transform 0.1s ease;
	cursor: zoom-in;
}

.naps-img {
	width: auto;
	height: auto;
}

.viewer-image.naps-img {
	max-width: none;
	max-height: none;
	image-rendering: pixelated;
}

.viewer-image.zoomed {
    transform: scale(2);
	cursor: zoom-out;
}

.clickable {
    cursor: pointer;
}

.image-overlay .close-message {
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
    color: white;
    pointer-events: none; /* So it doesn't interfere with clicks */
}

/* #endregion */