/* #region local fonts */

@font-face {
    font-family: 'Naps (Keys)';
    src: url('fonts/naps/NapsKeys.woff2') format('woff2'),
        url('fonts/naps/NapsKeys.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Naps (Choux)';
    src: url('fonts/naps/NapsChoux.woff2') format('woff2'),
        url('fonts/naps/NapsChoux.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Naps (Sorrel)';
    src: url('fonts/naps/NapsSorrel.woff2') format('woff2'),
        url('fonts/naps/NapsSorrel.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Naps (Mara)';
    src: url('fonts/naps/NapsMara.woff2') format('woff2'),
        url('fonts/naps/NapsMara.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* #endregion */

/* #region styles */
.random-voice:hover {
	text-decoration: underline;
}
 
.Mara {
	font-family: 'Naps (Mara)', Helvetica, Arial, sans-serif;
	font-size: 21px;
	line-height: 17px;
    color:#f96b75;
} 

.Mara.bg {
    background:#f96b75;
}

.Choux {
	font-family: 'Naps (Choux)', Helvetica, Arial, sans-serif;
	font-size: 20px;
	line-height: 19px;
    color:#7e9627;
}

.Choux.bg {
    background:#7e9627;
}

.Keys {
	font-family: 'Naps (Keys)', Helvetica, Arial, sans-serif;
	font-size: 19px;
	line-height: 21px;
    color:#f07d2c;
}

.Keys.bg {
    background:#f07d2c;
}

.Sorrel {
    font-family: 'Naps (Sorrel)', Helvetica, Arial, sans-serif;
	font-size: 17px;
	line-height: 25px;
    color:#364165;
}

.Sorrel.bg {
    background:#364165;
}