/* #region local fonts */

@font-face {
    font-family: 'Naps Voices';
    src: url('fonts/NapsVoices.woff2') format('woff2'),
        url('fonts/NapsVoices.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* #endregion */

/* #region styles */
.choux {
	font-family: 'Naps Voices', 'CMU Concrete', Helvetica, Arial, sans-serif;
	font-size: 20px;
}