<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="shortcut icon" href="/assets/site/favico.png">
    {% include global.html %}
    <style>
        body {
            scroll-snap-type: y proximity;
        }
    </style>
</head>
<body>
    {{ content }}
</body>
<!-- snap binary elements to pixel grid  -->
<script type="text/javascript">
document.addEventListener("DOMContentLoaded", function() {
    function binaryFix() {
        const range = document.createRange();
        document.querySelectorAll('.binary').forEach(e => {
            range.setStartBefore(e.childNodes[0]);
            range.setEndAfter(e.childNodes[0]);
            e.style.width = `${Math.ceil(range.getBoundingClientRect().width)}px`;
            e.style.translate = `${-(e.getBoundingClientRect().left - Math.floor(e.getBoundingClientRect().left))}px`
        });
    };

window.onload = (event) => {
  console.log("fully loaded");
  postGallery();
  binaryFix();
  removeSplash();
};
});
</script>
</html>