<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="shortcut icon" href="/assets/site/favico-naps.png">
    {% include global.html %}
    <link rel="stylesheet" href="..\css\naps-voices.css">
    <link rel="preload" href="..\css\fonts\naps\NapsSorrel.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="..\css\fonts\naps\NapsKeys.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="..\css\fonts\naps\NapsChoux.woff2" as="font" type="font/woff2" crossorigin>
</head>
<style>
    ::-webkit-scrollbar {
        width: 10px;
    }
    
    /* Track */
    ::-webkit-scrollbar-track {
        background: transparent;
    }
    
    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: black;
        border-radius: 0;
        border: solid 1px white;
    }
    
    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: black;
        border: unset;
    }
    .section {
        padding: 0;
    }
</style>
<body>
    {% assign sections = content | split: '<!-- split -->' %}
    {% for section in sections %}
        <div class="section">
            {{ section }}
        </div>
    {% endfor %}
</body>
<!-- randomise voice, snap binary elements to pixel grid  -->
<script type="text/javascript">
const scrollToTopBtn = document.getElementById("scrollToTopBtn");

scrollToTopBtn.onclick = function() {
    console.log('clicked');
    document.body.scroll({
        top: 0, 
        left: 0, 
        behavior: 'smooth' 
    });
};
document.addEventListener("DOMContentLoaded", function() {

function napsImgFix() {
    let napsImg = document.querySelectorAll('.naps-img');
    let binaryElements = document.querySelectorAll('.binary');

    // Check if the devicePixelRatio is not 1
    if (window.devicePixelRatio !== 1) {
        // Set image-rendering to auto for all .naps-img elements
        napsImg.forEach(img => {
            img.style.imageRendering = 'auto';
        });

        // Adjust font-size for all .binary elements
        binaryElements.forEach(el => {
            const currentFontSize = window.getComputedStyle(el).fontSize;
            const numericFontSize = parseFloat(currentFontSize); // Convert '18px' to 18
            if (window.devicePixelRatio >= 2) {
                el.style.filter = ` drop-shadow(2px 0px 0 #fff) 
                                    drop-shadow(-2px 0px 0 #fff) 
                                    drop-shadow(0px 2px 0 #fff) 
                                    drop-shadow(0px -2px 0 #fff)
                                    drop-shadow(2px 2px 0 #fff) 
                                    drop-shadow(2px -2px 0 #fff) 
                                    drop-shadow(-2px -2px 0 #fff) 
                                    drop-shadow(-2px 2px 0 #fff)`;
            } else {
                const newFontSize = (1 / window.devicePixelRatio) * numericFontSize;
                el.style.fontSize = `${newFontSize}px`;
            }
        });
    } else {
        // Retain the original image-rendering behavior when devicePixelRatio is 1
        napsImg.forEach(img => {
            const imgWidth = img.naturalWidth;
            const currentWidth = img.getBoundingClientRect().width;
            if (currentWidth == imgWidth) {
                img.style.imageRendering = 'pixelated';
            } else {
                img.style.removeProperty('image-rendering');
            }
        });

        // Reset font-size for .binary elements if needed
        binaryElements.forEach(el => {
            el.style.removeProperty('font-size');
        });
    }
}

function getRandomPoint(percentageRange) {
  return Math.random() * percentageRange;
};

function randomVoice () {
    const voices = ['Choux', 'Keys', 'Sorrel', 'Mara']
    const voiceChosen = voices[Math.floor(Math.random() * voices.length)];
    document.querySelectorAll('.random-voice').forEach(v => {
        v.classList.add(voiceChosen);
        v.setAttribute('title',"i'm "+voiceChosen+"!");
    });

    const widthRange = 10; // Limit for distance from the corner for width
    const heightRange = 10; // Limit for distance from the corner for height

    const topLeft = `${getRandomPoint(widthRange)}% ${getRandomPoint(heightRange)}%`;
    const topRight = `${100 - getRandomPoint(widthRange)}% ${getRandomPoint(heightRange)}%`;
    const bottomRight = `${100 - getRandomPoint(widthRange)}% ${100 - getRandomPoint(heightRange)}%`;
    const bottomLeft = `${getRandomPoint(widthRange)}% ${100 - getRandomPoint(heightRange)}%`;

    document.querySelectorAll('.naps-polygon').forEach(e => {
        e.style.clipPath = `polygon(${topLeft}, ${topRight}, ${bottomRight}, ${bottomLeft})`;
        e.classList.add(voiceChosen);
        e.classList.add(`bg`);
    });
};

randomVoice();

function binaryFix() {
    const range = document.createRange();
    document.querySelectorAll('.binary').forEach(e => {
        range.setStartBefore(e.childNodes[0]);
        range.setEndAfter(e.childNodes[0]);
        e.style.width = `${Math.ceil(range.getBoundingClientRect().width)}px`;
        e.style.translate = `${-(e.getBoundingClientRect().left - Math.floor(e.getBoundingClientRect().left))}px`;
    });
};

function galleryFix() {
    const viewportHeight = window.innerHeight;
    const galleries = document.querySelectorAll('.image-gallery');
    galleries.forEach(function(gallery) {
        const firstImage = gallery.querySelector('.gallery-item:first-child');
        const lastImage = gallery.querySelector('.gallery-item:last-child')
        const firstImageHeight = firstImage.getBoundingClientRect().height;
        const lastImageHeight = lastImage.getBoundingClientRect().height;

        // Calculate the required height for spacing divs
        const topSpacingHeight = (viewportHeight / 2) - (firstImageHeight / 2);
        const bottomSpacingHeight = (viewportHeight / 2) - (lastImageHeight / 2);

        // Create or update top spacer div and its child
        let topSpacer = gallery.querySelector('.top-spacer');
        if (!topSpacer) {
            topSpacer = document.createElement('div');
            topSpacer.classList.add('top-spacer');
            const topSpacerChild = document.createElement('div');
            topSpacerChild.classList.add('spacer-child');
            topSpacer.appendChild(topSpacerChild);
            gallery.insertBefore(topSpacer, firstImage);
        }
        topSpacer.firstElementChild.style.height = `${topSpacingHeight}px`;

        // Create or update bottom spacer div and its child
        let bottomSpacer = gallery.querySelector('.bottom-spacer');
        if (!bottomSpacer) {
            bottomSpacer = document.createElement('div');
            bottomSpacer.classList.add('bottom-spacer');
            const bottomSpacerChild = document.createElement('div');
            bottomSpacerChild.classList.add('spacer-child');
            bottomSpacer.appendChild(bottomSpacerChild);
            gallery.appendChild(bottomSpacer);
        }
        bottomSpacer.firstElementChild.style.height = `${Math.floor(bottomSpacingHeight)}px`;

        let mtgHeader = gallery.querySelector('#mtgHeader');
        if (mtgHeader) {
            topSpacer.firstElementChild.style.height = `0px`;
            bottomSpacer.firstElementChild.style.height = `0px`;
        }
    });
};
function setHeight() {
    const bgItems = document.querySelectorAll('.bg-gallery-item');
    const newHeight = firstItem.getBoundingClientRect().height;
    console.log(`${newHeight}`)
    document.querySelectorAll('.bg-gallery-item').forEach(item => {
        item.style.height = `${newHeight}px`;
    })
};

function marginFix() {
    const headerItem = document.querySelector('.g-item.header');
    const gallery = document.querySelector('.bg-gallery');
    if (window.innerWidth < 1919) {
        const headerHeight = headerItem.clientHeight;
        gallery.style.marginTop = `${headerHeight}px`;
    } else {
        gallery.style.marginTop = '0';
    }
}


window.onload = (event) => {
    console.log("fully loaded");
    postGallery();
    napsImgFix();
    binaryFix();
    galleryFix();
    removeSplash();
    marginFix();
    setHeight();
};

window.addEventListener("resize", () => {
    setHeight();
    marginFix();
    napsImgFix();
})

if (window.devicePixelRatio !== 1) {
    // Create the overlay div
    let scaleFactor = window.devicePixelRatio;
    const overlay = document.createElement('div');
    overlay.style.position = 'fixed';
    overlay.style.top = 0;
    overlay.style.left = 0;
    overlay.style.width = '100%';
    overlay.style.height = '100%';
    overlay.style.backgroundColor = 'rgba(0, 0, 0, 0.5)';
    overlay.style.zIndex = 10000;
    overlay.style.display = 'flex';
    overlay.style.justifyContent = 'center';
    overlay.style.alignItems = 'center';

    // Create the card div
    const card = document.createElement('div');
    card.className = 'card';

    // Add the message to the card
    const message = document.createElement('p');
    message.innerHTML = `<strong>Your device scale is not 100%!</strong> <br> Content on this page may not display correctly. <br> <span style="font-family:'DM Sans';font-size:12pt">DEBUG - current device scale factor: ${scaleFactor * 100}%</span>`;
    card.appendChild(message);

    // Create the button
    const button = document.createElement('button');
    button.textContent = 'I understand.';
    button.className = 'card';

    // Add event listener to dismiss the overlay
    button.addEventListener('click', () => {
        document.body.removeChild(overlay);
    });

    card.appendChild(button);
    overlay.appendChild(card);
    document.body.appendChild(overlay);
}
});

</script>
</html>